@media (min-width: 1000px) { 
  body { 
    width: 1000px;
  }
}

* { 
  box-sizing: border-box;
} 

body { 
  margin-top: 0;
  margin-bottom: 0; 
}

/* HEADER*/
#header { 
  display: flex;
  justify-content: space-between; 
  position: fixed; 
  top: 0px; 
  background-color: #ffffff; 
  z-index: 5;
} 

#header-img {  
  width: 10%; 
  position: relative; 
  z-index: 0; 
  object-fit: contain; 
}

#header-title { 
  position: absolute; 
  z-index: 1; 
  left: 9%; 
  top: 4%;
} 

#nav-list { 
  display: flex; 
  height: 100%;  
  margin: 0;
}

nav > ul > li { 
  list-style-type: none; 
  margin: 3rem; 
}

a { 
  text-decoration: none; 
  color: inherit;
}

a:hover { 
  cursor: pointer;
}

/* EMAIL-FORM */ 
.title-and-form { 
  text-align: center; 
  margin-top: 120px; 
}

.slogan { 
  font-size: 1.4rem;
}
#email { 
  display: block; 
  text-align: center; 
  margin-right: auto; 
  margin-left: auto; 
  margin-bottom: 5px; 
} 

#submit { 
  background-color: yellow; 
  border: none; 
  padding: 5px; 
}

/* FEATURES */ 
.feature-title { 
  font-size: 1.8rem;
}

#feature-list { 
  max-width: 500px; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 45px;  
} 

#feature-list > li { 
  list-style-type: none; 
  padding-top: 30px;
} 

#feature-1-image { 
  position: absolute;
  height: 75px; 
  width: 75px; 
  object-fit: contain; 
  top: 37%; 
  left: 15%;  
}

#feature-2-image { 
  position: absolute;
  height: 75px; 
  width: 75px; 
  object-fit: contain; 
  top: 49%; 
  left: 15%;  
}

#feature-3-image { 
  position: absolute;
  height: 75px; 
  width: 75px; 
  object-fit: contain; 
  top: 62%; 
  left: 15%;  
} 

/* Video */ 
#video { 
  width: 500; 
  height: 250;  
} 

#video-section {  
  text-align: center; 
  margin-top: 30px;
} 

/* PRICING */ 
#pricing { 
  display: flex; 
  justify-content: space-evenly;
} 

.purchase-option { 
  display: flex; 
  flex-direction: column;
  border: 1px solid black; 
  width: 300px; 
  margin-top: 30px;
} 

.purchase-title, .purchase-price { 
  text-align: center;
} 

.purchase-title { 
  background-color: rgb(219, 216, 216); 
  margin-top: 0; 
  margin-bottom: 0; 
  padding-top: 10px; 
  padding-bottom: 10px; 
} 

.purchase-price { 
  font-size: 1.4rem;
}

.purchase-select {   
  margin-top: 5px; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 5px; 
  width: 250px; 
  background-color: yellow;
} 

.purchase-details {  
  width: 250px; 
  margin: auto; 
  padding: 0;  
}

.purchase-details > li { 
  list-style-type: none;  
  text-align: center; 
  padding-top: 5px; 
} 

/* FOOTER */ 
.footer {  
  display: flex; 
  flex-direction: column; 
  align-items: flex-end; 
  background-color: rgb(219, 216, 216); 
  width: 100%; 
  margin-top: 30px;  
  margin-bottom: 0px;  
}

#footer-list { 
  display: flex; 
  width: 300px; 
  justify-content: space-evenly; 
  margin-bottom: 0;
} 

#footer-list > li { 
  list-style-type: none;
} 

#copyright { 
  width: 250px; 
  text-align: center; 
  color: #383636; 
  margin-top: 0;
}