body { 
    background-color: red;
  }
  
  #img-div { 
    text-align: center;
  }
  
  #image { 
    max-width: 100%; 
    display: block; 
  } 
  
  h1, #sub-title { 
    text-align: center;  
  } 
  
  .divider { 
    border-bottom: 2px solid #15f900; 
  } 